<section>
  <main>
    <div class="content text-white p-5">
      <div class="row">
        <div class="col-lg-4 text-center">
          <h3 class="text-uppercase fw-bold">LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
        <div class="col-lg-4 text-center">
          <h3 class="text-uppercase fw-bold">AROUND THE WEB</h3>
          <div class="d-flex justify-content-center">
            <div
              class="d-flex justify-content-center align-items-center rounded-circle border border-white text-white m-1"
              style="width: 45px; height: 45px"
            >
              <i class="fa-brands fa-facebook fa-lg"></i>
            </div>
            <div
              class="d-flex justify-content-center align-items-center rounded-circle border border-white text-white m-1"
              style="width: 45px; height: 45px"
            >
              <i class="fa-brands fa-twitter fa-lg"></i>
            </div>
            <div
              class="d-flex justify-content-center align-items-center rounded-circle border border-white text-white m-1"
              style="width: 45px; height: 45px"
            >
              <i class="fa-brands fa-linkedin-in fa-lg"></i>
            </div>
            <div
              class="d-flex justify-content-center align-items-center rounded-circle border border-white text-white m-1"
              style="width: 45px; height: 45px"
            >
              <i class="fa-solid fa-globe fa-lg"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <h3 class="text-uppercase fw-bold">ABOUT FREELANCER</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by
            Route
          </p>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <p class="text-center p-4 m-0 text-white">Copyright © Your Website 2021</p>
  </footer>
</section>
