<nav class="navbar navbar-expand-lg bg-body-nav">
  <div class="container">
    <a
      class="navbar-brand text-uppercase fw-bolder text-white fs-2 size-barnd"
      routerLink="/home"
      href="home"
      >start framework</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-bold text-white"
            routerLink="/about"
            routerLinkActive="bg-navitem rounded-3"
            href="about"
            >about</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-bold text-white"
            routerLink="/portfolio"
            routerLinkActive="bg-navitem rounded-3"
            href="portfolio"
            >portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase fw-bold text-white"
            routerLink="/contact"
            routerLinkActive="bg-navitem rounded-3"
            href="contact"
            >contect</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
