section > #portfolio {
  height: 550px;
}

.content h2 {
  color: var(--bg-navbar);
}

.star::before {
  content: " ";
  background-color: var(--bg-navbar);
  width: 80px;
  height: 4px;
  display: flex;
  top: 0;
  left: 0;
  margin-right: 5px;
  transform: translateY(5px);
}
.star::after {
  content: " ";
  background-color: var(--bg-navbar);
  width: 80px;
  height: 4px;
  display: flex;
  top: 0;
  left: 0;
  margin-left: 5px;
  transform: translateY(5px);
}

.layer {
  background-color: var(--bg-item); /* أو var(--bg-item) لو متعرفة مسبقًا */
  opacity: 0;
  cursor: pointer;
  transition: 0.6s opacity;
}

.img:hover .layer {
  opacity: 1;
}

.item {
  cursor: pointer;
}

.lightBoxContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightBox {
  width: 600px;
  height: 600px;
  background-color: url(/portfolio_img/imgi_1_poert1.png);
  background-position: center;
  background-size: cover;
}
