<section class="">
  <div id="contect" class="contect d-flex justify-content-center">
    <div class="container p-5">
      <div class="content">
        <h2 class="text-uppercase fw-bolder fs-1 size-barnd text-center">
          portfolio component
        </h2>
        <div class="items">
          <div class="star d-flex justify-content-center">
            <i class="fa-solid fa-star text-center"></i>
          </div>
        </div>
        <div class="row p-5 g-5">
          <div class="item col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_1_poert1.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_2_port2.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_3_port3.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_1_poert1.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_2_port2.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="img position-relative overflow-hidden">
              <img
                src="/portfolio_img/imgi_3_port3.png"
                class="w-100 rounded-3"
                alt=""
              />
              <div
                class="layer position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="fa-solid fa-plus fa-5x" style="color: #ffffff"></i>
              </div>
            </div>
          </div>
        </div>

        <!-- need to java sctipt -->
        <div class="lightBoxContainer d-none">
          <div class="lightBox"></div>
        </div>
      </div>
    </div>
  </div>
</section>
