section > #contect {
  height: 550px;
}

.content h2 {
  color: var(--bg-navbar);
}

.star::before {
  content: " ";
  background-color: var(--bg-navbar);
  width: 80px;
  height: 4px;
  display: flex;
  top: 0;
  left: 0;
  margin-right: 5px;
  transform: translateY(5px);
}
.star::after {
  content: " ";
  background-color: var(--bg-navbar);
  width: 80px;
  height: 4px;
  display: flex;
  top: 0;
  left: 0;
  margin-left: 5px;
  transform: translateY(5px);
}
