<section class="">
  <div id="contect" class="contect d-flex justify-content-center">
    <div class="container p-5">
      <div class="content">
        <h2 class="text-uppercase fw-bolder fs-1 size-barnd text-center">
          conatct section
        </h2>
        <div class="items">
          <div class="star d-flex justify-content-center">
            <i class="fa-solid fa-star text-center"></i>
          </div>
        </div>
        <div class="w-75 p-5 m-auto">
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="UserName"
              placeholder="name@example.com"
            />
            <label for="UserName">UserName</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="number"
              class="form-control"
              id="AgeName"
              placeholder="name@example.com"
            />
            <label for="AgeName">AgeName</label>
          </div>
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="UserEmail"
              placeholder="name@example.com"
            />
            <label for="UserEmail">UserEmail</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">UserPassword</label>
          </div>
          <button
            type="button"
            class="btn mt-2 btn-success"
            style="background-color: var(--bg-item)"
          >
            Send Message
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
