<section class="">
  <div
    id="about"
    class="about d-flex justify-content-center align-items-center"
  >
    <div class="container">
      <div class="content">
        <h2 class="text-uppercase fw-bold text-white text-center">
          about component
        </h2>
        <div class="items">
          <div class="star d-flex justify-content-center">
            <i class="fa-solid fa-star text-center" style="color: #ffffff"></i>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-6 col-md-12 p-0 text-white read">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </div>
          <div class="col-lg-6 col-md-12 p-0 ps-2 text-white read">
            Freelancer is a free bootstrap theme created by Route. The download
            includes the complete source files including HTML, CSS, and
            JavaScript as well as optional SASS stylesheets for easy
            customization.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
